.env
node_modules
controllers/authentication
controllers/authentication/authController.js
controllers/authentication/isAuthenticatedController.js
controllers/authentication/passwordResetController.js
controllers/authentication/userController.js
controllers/webScrapeStatsController.js

controllers/user
controllers/user/userProfilePictureController.js
middleware/authMiddleware.js
models/MongoDB/User.js
public/profile-pictures

routes/authentication
routes/authentication/authRoutes.js
routes/authentication/changePass.js
routes/authentication/checkAuth.js


routes/enableRoutes/userRoutes.json
routes/user
routes/user/userProfilePicRoute.js